<!DOCTYPE html>
<html>
<head>
    <title>Category Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Events in this Category:</h2>
        <ul class="list-group">
            <% for (let i = 0; i < event.length; i++) { %>
            <li class="list-group-item">
                <p>ID: <%= event[i].id %></p>
                <p>Name: <%= event[i].eventName %></p>
                <p>Creation Date: <%= event[i].startDateTime %></p>
                <p>Description: <%= event[i].description %></p>
                <img src="/static/<%= event[i].eventImage %>" alt="Image">
            </li>
            <% } %>
        </ul>
        <div class="container mt-3">
            <a href="/" class="btn btn-primary">Back</a>
        </div>
    </div>
</body>
</html>
