<html>
<head>
  <title>Category Detail</title>
  <style>
    /* Your styling goes here */
  </style>
</head>

<body>
    <h1>Category Detail</h1>
    <h2>Category ID: <%= category.id %></h2>
    <h2>Category Name: <%= category.categoryName %></h2>
    <h2>Category Description: <%= category.categoryDescription %></h2>
    
    <h2>Events in this Category:</h2>
    <table>
      <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Start Date Time</th>
        <th>Duration in minutes</th>
        <th>Event Description</th>
        <th>Capacity</th>
        <th>Tickets Available</th>
        <th>Ongoing</th>
        <th>Category ID</th>
      </tr>
      <% for (let i = 0; i < events.length; i++) { %>
        <tr>
          <td><%= events[i].id %></td>
          <td><%= events[i].eventName %></td>
          <td><%= events[i].startDateTime %></td>
          <td><%= events[i].duration %></td>
          <td><%= events[i].eventDescription %></td>
          <td><%= events[i].capacity %></td>
          <td><%= events[i].ticketsAvailable %></td>
          <td><%= events[i].isActive %></td>
          <td><%= events[i].categoryId %></td>
        </tr>
      <% } %>
    </table>
    
    <div class="container m-3">
      <a type="button" class="btn btn-primary" href='/'>Back</a>
    </div>
</body>
</html>